<%= form_tag path, method: method do %>

	<p><%= label_tag :name %>
		<%= text_field_tag :name, name %></p>

	<p><%= label_tag :percentage_off %>
		(in decimal form)
	<%= number_field_tag :percentage_off, percentage_off %></p>

	<p><%= label_tag :required_quantity %>
		<%= number_field_tag :required_quantity, required_quantity %></p>

	<%= submit_tag button_text %>
<% end %>
